
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

*{
	font-family: "Open Sans", Helvetica, sans-serif;
}

body{
	background: #f9f9f9;
}

h3{
	text-align: center;
	color: red;
}

.header-spammer{
	margin: 200px auto 75px;
	color: #0d8a7e;
}


.header-spammer-dash{
	margin: 50px auto 75px;
	color: #0d8a7e;
}

.cool-input{
	width:100%;
	font-size: 24px;
}

.m-top-20{
	margin-top: 20px;
}